<p>Showing table data for the {{season}} season</p>




    <div class="standings-controls">
        <div class="button-container">
            <button class="table-button" [class.selected]="selectedView === 'total'" (click)="setView('total')">Total</button>
            <button class="table-button" [class.selected]="selectedView === 'home'" (click)="setView('home')">Home</button>
            <button class="table-button" [class.selected]="selectedView === 'away'" (click)="setView('away')">Away</button>        
        </div>

        <div class="season-selector">
          <p-dropdown 
          [options]="seasons" 
          [(ngModel)]="season" 
          placeholder= "Select a season"
          (onChange)="getTotalTable()"
            styleClass="season-dropdown">
          </p-dropdown>
        </div>
      </div>


    <ng-template let-season pTemplate="item">
        {{ season }}
      </ng-template>

<div class="card">
    <p-table [columns]="cols" [value]="standingData" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines"
    selectionMode="single" [(selection)]="selectedTeam" (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>